/*
Filename: style.css
Author: Samantha Shirley (#301240317)
Date: 09/27/2023
*/

/* PAGE */

html,
body {
  height: 100%;
  margin: 0;
  min-width: 800px;
}

html {
  font-size: calc(16px + (24 - 16) * (100vw - 400px) / (2560 - 400));
}
header {
  font-size: 1.2em;
}
main {
  font-size: 1em;
  flex: 1;
  margin-bottom: 300px;
}

figure {
  margin: 0 auto;
}
footer {
  clear: both;
  margin-top: 1em;
}
footer .navbar-text {
  margin: 0 auto;
  padding: 20px;
}

header img {
  width: 100%;
}

@media screen and (max-width: 598px) {
  header,
  main {
    font-size: 1.2em;
  }
}

/* HEADER */
#home header section {
  background: url("/img/hero/index-hero-image.jpg") top;
  background-size: cover;
  min-height: 200px;
  border-top-right-radius: 10em;
}
/* GENERAL */

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: crimson;
}
a:active {
  text-decoration: none;
}

/* NAV MENU */

ul.navbar-nav {
  list-style: none; /* Remove the bullet */
  display: inline; /* Display the list items inline */
  float: right;
}
ul.navbar-nav li {
  display: inline-block; /* Make the list items display inline */
}
li.nav-item .active,
.nav-link .active {
  font-weight: bold;
}
.nav-link:hover {
  color: crimson;
}

/* MAIN */
main section.col1 {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  box-sizing: border-box;
  display: inline;
  float: left;
  margin-bottom: 1.3em;
  margin-top: 1em;
  margin-left: 0;
  padding: 2em;
  width: 59%;
}
main section.col1 div {
  box-sizing: border-box;
  display: inline;
  width: 100%;
}
main section.col2 {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1em;
  box-sizing: border-box;
  display: inline;
  float: right;
  margin-bottom: 1.3em;
  margin-top: 1em;
  padding: 2em;
  width: 40%;
}
main section.col2 img {
  border: 1px solid grey;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

main#home aside {
  margin: 0 auto;
  text-align: center;
}
main#home aside img {
  width: 5vw;
}

main#home aside ul {
  margin: 0 auto;
}

main#home aside ul li {
  color: gray;
  display: inline;

  list-style-type: none;
  margin: 0.1em;
  padding: 10px;
}

main#home aside ul li a {
  color: gray;
  text-decoration: none;
}
