<!--
Filename: bottom_nav.ejs
Author: Samantha Shirley (#301240317)
Date: 09/27/2023
-->

<footer>
  <nav class="navbar navbar-dark bg-dark">
    <h6 class="navbar-text">
      Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      - Samantha Shirley - All Rights Reserved
    </h6>
  </nav>
</footer>
