<!--
Filename: footer.ejs
Author: Samantha Shirley (#301240317)
Date: 09/27/2023
-->

<script src="/jquery/dist/jquery.min.js"></script>
 <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>