<!--
Filename: about-me.ejs
Author: Samantha Shirley (#301240317)
Date: 09/27/2023
-->

<%- include ('partials/header.ejs') %>

<!-- HEADER SECTION -->

<%- include ('partials/main_nav.ejs') %>

<!-- MAIN BODY SECTION -->

<main id="about" class="container">
  <header id="hero">
    <section></section>
  </header>
  <section class="container">
    <section class="col1">
      <div>
        <h2>A Byte About Me</h2>
        <p></p>
        <p>
          It's nice to finally meet you. Allow me to introduce myself. My name is Samantha... Samantha Shirley.
        </p>
        <p>Don't worry if you get them mixed them up, it happens all the time. It's the curse of having a first name for a last name.
          </p>
          <p>As a stay-at-home mom, I started to dabble in art by creating paintings to decorate my childrens' rooms. A hobby which quickly turned into a small business "artventure" that allowed me to stay at home to raise my kids.</p>

          <p>I soon found myself needing an online portfolio and ecommerce store. And so I began to dabble in HTML, CSS, PHP, JavaScript and MySQL to develop and design my own websites. I spent a lot of sleepless nights with Google trying to solve coding puzzles. But the more I delved into the code, the more it became a language I began to understand.</p>


<p>Combining my love of art with my love of coding is a passion that lead me to study Internet Applications & Web Developement at St. Clair College followed by Game Programming at Centennial College.</p>

<p>With my natural artisitc creativity and education in hand, I am ready to help you get your next great app developed.</p>

~ Samantha</p>
      </div>
    </section>

    <section class="col2">
      <figure id="me">
        <img
          src="/img/about/Selfie.jpg"
          alt="Samantha Shirley"
          title="Samantha Shirley"
        />
      </figure>
    </section>
    <p class="text-center">Nice to meet you!</p>
  </section>
</main>

<!-- FOOTER SECTION -->

<!-- Copyright -->
<%- include ('partials/bottom_nav.ejs') %>
<!--Script Section-->
<%- include ('partials/footer.ejs') %>
