<!--
Filename: index.ejs
Author: Samantha Shirley (#301240317)
Date: 09/27/2023
-->

<%- include ('partials/header.ejs') %>

<!-- HEADER SECTION -->

<%- include ('partials/main_nav.ejs') %>

<!-- MAIN BODY SECTION -->

<main id="home" class="container">
  <header id="hero">
    <section></section>
  </header>
  <section class="container">
    <section class="col1">
      <div>
        <h2>Hello World!</h2>
        <p>
          As an artist and web developer, I combine my love of art with my love
          of coding to create beautiful apps, websites and games. Welcome to a
          world in which art and code makes magic.
        </p>

        <p>
          Whether it's a web page, mobile app or the next big video game, isn't
          time for some fresh ideas... And a splash of magic!
        </p>

        <p>Let's make the web a beautiful place to live</p>
      </div>

      <hr />

      <div>
        <aside>
          <ul>
            <li>
              <a
                href="https://www.instagram.com/two.little.witches/"
                title="Instagram"
                target="_blank"
              >
                <img
                  src="img/social/instagram.png"
                  alt="Find Me on Instagram"
                  title="Find Me on Instagram"
              /></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/samanthashirleyart/"
                title="LinkedIn"
                target="_blank"
              >
                <img
                  src="img/social/linkedin.png"
                  alt="Find Me on LinkedIn"
                  title="Find Me on LinkedIn"
              /></a>
            </li>
            <li>
              <a
                href="https://github.com/TwoLittleWitches"
                title="GitHub"
                target="_blank"
              >
                <img
                  src="img/social/github.png"
                  alt="Find Me on GitHub"
                  title="Find Me on GitHub"
              /></a>
            </li>
            <li>
              <a
                href="https://www.samanthashirley.com"
                title="My Official Website"
                target="_blank"
              >
                <img
                  src="img/social/website.png"
                  alt="My Official Website"
                  title="My Official Website"
              /></a>
            </li>
          </ul>
        </aside>
      </div>
    </section>

    <section class="col2">
      <figure id="me">
        <img
          src="/img/home/About-Me-Selfie.jpg"
          alt="Samantha Shirley"
          title="Samantha Shirley"
        />
      </figure>
    </section>
  </section>
</main>

<!-- FOOTER SECTION -->

<!-- Copyright -->
<%- include ('partials/bottom_nav.ejs') %>
<!--Script Section-->
<%- include ('partials/footer.ejs') %>
