<!--
Filename: services.ejs
Author: Samantha Shirley (#301240317)
Date: 09/27/2023
-->

<%- include ('partials/header.ejs') %>

<!-- HEADER SECTION -->

<%- include ('partials/main_nav.ejs') %>

<!-- MAIN -->

<main id="services" class="container">
  <header id="hero">
    <section></section>
  </header>

  <!-- ROW #1 -->

  <section>
    <ul>
      <!-- COLUMN #1 -->
      <li>
        <h2>Art & Design</h2>
        <figure>
          <img
            class="gallery"
            src="/img/services/Art-Graphic-Design.jpg"
            alt="Art & Graphic Design"
            title="Art & Graphic Design"
          />
        </figure>
        <ul>
          <li>Illustration & Graphic Design</li>
          <li>PhotoShop, Illustrator, Canva & InDesign</li>
          <li>Animation - 2D & 3D (Blender)</li>
          <li>Video Presentations</li>
        </ul>
      </li>
      <!-- COLUMN #2 -->
      <li>
        <h2>Programming</h2>
        <figure>
          <img
            class="gallery"
            src="/img/services/Programming.jpg"
            alt="Programming"
            title="Programming"
          />
        </figure>
        <ul>
          <li>Web Design & Development</li>
          <li>HTML5, CSS, JavaScript, PHP, NodeJS, ExpressJS</li>
          <li>Database Management - Oracle, MySQL, Mongo</li>
          <li>Game Programming - JavaScript, C#, Unity</li>
        </ul>
      </li>
    </ul>
  </section>

  <!-- ROW #2 -->

  <section>
    <ul>
      <li>
        <h2 class="text-center">
          “If you can dream it, you can do it.”<br />
          ~ Walt Disney
        </h2>
      </li>
    </ul>
  </section>

  <!-- FOOTER SECTION -->

  <!-- Copyright -->
  <%- include ('partials/bottom_nav.ejs') %>
  <!--Script Section-->
  <%- include ('partials/footer.ejs') %>
</main>
